html {
	background-image: url("../images/imagenSlider1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: "100%";
}

.panelGridCenter {
	margin: 0 auto;
}

.error {
	color: red;
}

body {
	background: transparent !important;
}
/*---------------------------------------------------*/

/*ESTILOS DE LETRAS*/
.letraIniciar {
	/*text-shadow: 2px 2px black;*/
	font-family: 'Passion One', cursive;
	text-align: center;
}

.letraU {
	color: white;
}

.letraRecordar {
	color: white;
}

.tituloGeneral {
	text-align: center;
	color: white;
}

.centrado {
	text-align: center;
}

.ui-column-title {
	height: 30px;
}

.palabrasTitulo {
	position: fixed;
	width: 1000px;
	height: 1000px;
	margin: 0;
	top: 100px;
	left: 100px;
}

.letrasAlbum {
	font-size: 100px;
	font-family: 'Concert One', cursive;
	overflow: hidden;
	position: relative;
	color: rgba(247, 65, 43, .8);
}

.letrasMundial {
	font-size: 100px;
	font-family: 'Concert One', cursive;
	overflow: hidden;
	position: relative;
	color: rgba(247, 65, 43, .8);
	top: -55px;
}

.letrasRusia {
	font-size: 100px;
	font-family: 'Concert One', cursive;
	overflow: hidden;
	position: relative;
	color: rgba(247, 65, 43, .8);
	top: -110px;
}

.laminiti {
	font-size: 20px;
	font-family: 'Pathway Gothic One', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
}

/*---------------------------------------------------*/

/*ESTILOS DE BOTONES*/
.botonImage {
	width: 30px;
}

.botonEvento {
	padding: 6px;
}

.botonCompleto {
	width: 110px;
	height: 35px;
	margin-top: 15px;
	background-color: #F75016;
	color: white;
	font-size: 15px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	border-radius: 10px;
	border-color: black;
}

.botonCompleto2 {
	width: 110px;
	height: 35px;
	margin-top: 15px;
	background-color: #16E6F7;
	color: white;
	font-size: 15px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	border-radius: 10px;
	border-color: black;
}

.botonEvento:hover {
	background-color: red;
	color: white;
	background: red
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: red -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	border: 1px solid red;
}
/*---------------------------------------------------*/
.contenedor {
	width: 400px;
	padding: 20px;
	margin-top: 50px;
	border-radius: 10px;
	left: 900px;
	top: 20px;
	float: left;
	overflow: hidden;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
}

.contenedor h1 {
	font-size: 2em;
	margin-bottom: 35px;
	color: #3651d8;
}

.labelFormulario {
	font-size: 1.2em;
	font-weight: 600;
}

.fila {
	margin-bottom: 15px;
	text-align: center;
}

.inputFormulario {
	width: 100%;
}

textarea, input[type="text"], input[type="password"], select {
	font-size: 1em;
}

/*SELECT OPTION*/
.ui-selectonemenu {
	padding-right: 0px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 26px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 9px;
}
/*TERMINA EL SELECT*/
.noticia {
	max-height: 150px;
}

.contenedorNoticias {
	margin-top: 50px;
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px;
}

.contenedorNoticias h1 {
	text-align: center;
	margin-bottom: 15px;
}

.noticia p {
	font-size: 20px;
	text-align: justify;
}

.contenedorNoticias .ui-carousel-header {
	text-align: center;
	background: #3651d8;
	color: white;
}

.contenedorNoticias .ui-carousel-item {
	height: 200px;
}

.botonVerMas {
	height: 50px;
}

.parrafoCarrusel {
	height: 100px;
}
/*---------------------------------------------------*/

/* ESTILOS REDES SOCIALES*/
.redesSociales {
	position: fixed;
	top: 640px;
	background-color: black; 
	width: 1400px;
	height: 30px;
	margin: 0;
	
}

